[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Christian/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Christian/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Christian/orders-ms.git
